html {
    background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.profession-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 33rem;
    height: 33rem;
    overflow: hidden;
    pointer-events: none;
}

.profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 33rem;
    height: 33rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profession-container .profession-box .profession {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: rotate(calc(360deg/ 12 * var(--i)));
    transform-origin: 15rem;
}

.profession h3 {
    font-size: 4rem;
}

.profession .n10 {
    transform: rotate(-30deg);
}

.profession .n11 {
    transform: rotate(-60deg);
}

.profession .n12 {
    transform: rotate(-90deg);
}

.profession .n1 {
    transform: rotate(-120deg);
}

.profession .n2 {
    transform: rotate(-150deg);
}

.profession .n3 {
    transform: rotate(-180deg);
}

.profession .n4 {
    transform: rotate(150deg);
}

.profession .n5 {
    transform: rotate(120deg);
}

.profession .n6 {
    transform: rotate(90deg);
}

.profession .n7 {
    transform: rotate(60deg);
}

.profession .n8 {
    transform: rotate(30deg);
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 8px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}